<!DOCTYPE html>
<html>
  <head>
    <title>Delete Venue</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">User Dashboard</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/user_dashboard" class="btn btn-outline-primary mx-2">Back to Dashboard</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h1 class="text-center mb-5">Delete Venue</h1>
      <form method="post">
        <p>Are you sure you want to delete the venue for {{ venue.Movie }}?</p>
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </body>
</html>
